@charset "UTF-8";
@import "colors.css";
*{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body a{
    text-decoration: none;
    color: var(--bg-200);
}
html{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}
header{
    height: 100dvh;
    background: url('../Assets/Downpic.cc-688602226.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body{
    background-color: var(--text-200);
}
.logo img{
    width: 60px;
}
.logo{
    display: flex;
    align-items: center;
}

.logo p{
    font-weight: bold;
    font-size: 15px;
}

section{
    padding: 1rem;
}
nav{
    display: flex;
    height: fit-content;
    background-color: var(--text-200);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    animation: fadenav linear forwards;
    animation-duration: view();
    transition: 2s ease-out;
    z-index: 11;
    border-bottom: 1px solid #b6b1b1 ;
}
@keyframes fadenav {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

.navli ul{
    display: flex;
    position: relative;
    gap: 3rem;
    margin-left: -150px;
    /* align-items: center; */
}
.navli li {
    list-style: none;
}
.quicktools{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.quicktools img{
    width: 20px;
}
.intromessage{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.intromessage h1{
    text-align: center;
    color: var(--bg-200);
}

.banner{
    display: flex;
    height: inherit;
    /* background-color: #ffffff36; */
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width:768px){
    .banner{
        flex-direction: row;
        }
    .banner_right{
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        max-width: calc(40% - 10vw);
    }
    .banner_left{
        margin-right: 5vw;
        max-width: calc(60% - 10vw);
    }
}
/* .banner::before {
    content: "";
    position: absolute;
    top: 0; left:  0; bottom: 0; right: 0;
    z-index: 1;
    background: url("../img/bannerBg.jpg") no-repeat center / cover;
    } */

section .dishlist{
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 4%;
    row-gap: 5%;
    justify-content: center;
}

.dishlist div{
    width: 200px;
    height: 10rem;
    background-color: var(--bg-100);
    text-align: center;
    display: grid;
    margin-bottom: 2%;
    border-radius: 20px;
    position: relative;
    align-items: end;
    padding-bottom: .5rem;
    overflow: hidden;
}
.dishlist p{
    color: white;
    position: absolute;
    top: 70%;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 800;
    left: 50%;
    transform: translateX(-50%);
}



.dishlist img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
}
.dishlist img::after{
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.199);
}

 .dishlist img{
    transform:
    perspective(900px)
    rotateX('60deg') 
    scale(0.7);
    transition: .5s ease all;
    
    &:hover{
        transform: 
        rotate(0deg)
        translateY(10px)
        scale(1);
    }
}

.wrapperbanner{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 1rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 360px;
    background-color: var(--bg-200);
}
.banner p{
    /* backdrop-filter: blur(4px); */
}
.bannersec{
    position: relative;
}
.wrapper{
    color: white;
}

.wrapper p{
    font-size: 25px;
    opacity: 0;
    animation: banner1 linear forwards;
    animation-duration: view();
    transition: 2s ease-out;
}
.wrapper h1{
    font-size: 55px;
    opacity: 0;
    animation: banner2 linear forwards;
    animation-duration: view();
    transition: 2s ease-out;
}

@keyframes banner1 {
    from{
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes banner2 {
    from{
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.text1{
    order: 1;
    width: 50%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgbanner1{
    order: 2;
    width: 50%;
    position: relative;
    padding-bottom: 0;
    display: block;
}
.imgbanner1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.rh{
    text-align: center;
}

.text2{
    order: 2;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.imgbanner2{
    order: 1;
    width: 50%;
    padding-bottom: 0
}
.imgbanner2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-style: none;
}
.textinner{
    color: var(--text-200);
}
.fries{
    color: white;
}
[data-tooltip]:hover{
    cursor: pointer;
    position: relative;
}

/* Fries Banner */
[data-tooltip]:hover::before{
    all: initial;
    display: inline-block;
    padding: 10px;
    background-color: #1a1a1a;
    content: attr(data-tooltip);
    color: #f9f9f9;
    position: absolute;
    bottom: 20px;
    width: 70px;
    left: 20px;
    transform: translate(-50%, 0);
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

[data-tooltip]:hover::after{
    all: initial;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1a1a1a;
    position: absolute;
    bottom: 100%;
    content: '';
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 5px;
}

/* Jollof Rice */
.jrice{
    color: white;
    font-family: "Lato", sans-serif;
}

.jrice[data-tooltip]:hover::before{
    all: initial;
    display: inline-block;
    padding: 10px;
    background-color: #1a1a1a;
    content: attr(data-tooltip);
    color: #f9f9f9;
    position: absolute;
    bottom: 20px;
    width: 100px;
    left: 44px;
    transform: translate(-50%, 0);
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.jrice[data-tooltip]:hover::after{
    all: initial;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1a1a1a;
    position: absolute;
    bottom: 100%;
    content: '';
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 5px;
}

.socials img{
    width: 25px;
}
footer{
    height: 30vh;
    background-color: var(--text-200);
    padding: 2rem;
    border-top: 1px solid #b6b1b1 ;
}
footer a{
    text-decoration: none;
    color: black;
}
.footerinfo{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.contact{
    padding-left: 2rem;
}
.contact h3{
    font-size: 15px;
    font-weight: 500;
}
.infocompany{
    width: 50%;
}
.infocompany img{
    width: 80px;
}
.navigate{
    width: 50%;
    text-align: right;
}
.copyright{
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.socials{
    display: flex;
    justify-content: center;
    width: 100%;
}
.navigate{
    padding-top: 2rem;
    font-size: 15px;
}
.flogo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.meal-result{
    margin-top: 4rem;
    text-align: center;
}
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--bg-100);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--bg-200);
}
.title{
    text-align: left;
    font-size: 40px;
    border-bottom: 1px solid var(--bg-100);
}
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--bg-100);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: var(--bg-200);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr!important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #meal2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
    #meal2{
        grid-template-columns: repeat(3, 1fr);
    }
}
